 {% extends 'fiteat/base.html'%}
{% load static %}

{% block container %}
<section class = "all_forms">
    <h2> Zmiana hasła zakońnczyła się sukcesem.</h2>
    <p> Możesz się teraz <a href ="{% url 'fiteat:login'%}">zalogować</a>
         używając nowego hasła</p>
</section> 
{% endblock %}

{% block js %}
<script src={% static "java_script/jquery-3.2.1.min.js" %}></script>
<script type="text/javascript" src={% static "java_script/script.js" %}></script>
<script type="text/javascript" src={% static "java_script/scriptadv.js" %}></script>
{% endblock %}	 