 {% extends 'fiteat/base.html'%}
{% load static %}

{% block container %}
<section class = "all_forms">
    <p> WYSlalosmu ci email wraz z instrukcjami</p>
    <p> jesli go nie masz sprawdz  czy podales ten sam mail co przy rejstracji</p>
</section> 
{% endblock %}

{% block js %}
<script src={% static "java_script/jquery-3.2.1.min.js" %}></script>
<script type="text/javascript" src={% static "java_script/script.js" %}></script>
<script type="text/javascript" src={% static "java_script/scriptadv.js" %}></script>
{% endblock %}	 