 {% extends 'fiteat/base.html'%}
{% load static %}

{% block container %}
<section class = "all_forms">
    <h2> Wypełnij poniższy formularz aby zmienić hasło.</h2>
    <form action="." method = "post">
        {{form.as_p}}{% csrf_token %}
        <p><input type="submit" value="Zmień"></p>
    </form>
</section> 
{% endblock %}

{% block js %}
<script src={% static "java_script/jquery-3.2.1.min.js" %}></script>
<script type="text/javascript" src={% static "java_script/script.js" %}></script>
<script type="text/javascript" src={% static "java_script/scriptadv.js" %}></script>
{% endblock %}	 