 {% extends 'fiteat/base.html'%}
{% load static %}

{% block container %}
 <section class="products">
  <p> KATEGORIE PRODUKTÓW </p> 
   
    {% comment %} {% for category in categorys %}
   
    <div class= "category_table">
      <table>
          <tr><td><a href="{% url 'product_detail' id=category.id %}">
          <img src={% static category.pathtopicture %} 
        class="img_responsive"></a></td></tr>
        <tr><td>{{category.name}}</td></tr> 
      </table>
    </div>
    {% if forloop.counter|divisibleby:3 %}
    <div style="clear:both"></div>
    {% endif %}
    {%endfor%}   {% endcomment %}

    {% comment %} {% for cat in categories %}
    {% if category.slug == cat.name%} class="selected"{% endif%}
    <div class= "category_table">
      <table>
          <tr><td ><img src={% static category.pathtopicture %}</td></tr> 
          <tr><td >{{category.name}}</td></tr>
      </table>
    </div>
    {% if forloop.counter|divisibleby:3 %}
    <div style="clear:both"></div>
    {% endif %}
    {%endfor%}  {% endcomment %}
    <div id="sidebar">
    <h3>Kategorie</h3>
    <ul>
      <li {% if not category %}class="selected"{% endif %}>
        <a href="">Wszystkie</a>
      </li>
      {% for c in categories %}
        <li {% if category.slug == c.slug %}class="selected"{% endif %}>
          <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div> 
   
 <div style="clear:both"></div>
 </section>
{% endblock %}


{% block js %}
<script src={% static "java_script/jquery-3.2.1.min.js" %}></script>
<script type="text/javascript" src={% static "java_script/script.js" %}></script>
<script type="text/javascript" src={% static "java_script/scriptadv.js" %}></script>
{% endblock %}	 