 {% extends 'fiteat/base.html'%}
{% load static %}

{% block container %}

 <section class="products">
   
  <p> KATEGORIE PRODUKTÓW </p> 
  
    {% for cat in categories %}
    {% if category.slug == cat.name%} class="selected"{% endif%}
    <div class= "category_table">
      <table>
          <tr><td ><a href="{{cat.get_absolute_url}}">
            <img src={% if cat.image %}{{cat.image.url}}{%else%}{% static "fotocategory/owoce.jpg"%}{%endif%}></a></td></tr> 
          <tr><td >{{cat.name}}</td></tr>
      </table>
    </div>
    {% if forloop.counter|divisibleby:3 %}
    <div style="clear:both"></div>
    {% endif %}
    {%endfor%} 
    <div style="clear:both"></div>
 </section>
{% endblock %}


{% block js %}
<script src={% static "java_script/jquery-3.2.1.min.js" %}></script>
<script type="text/javascript" src={% static "java_script/script.js" %}></script>
<script type="text/javascript" src={% static "java_script/scriptadv.js" %}></script>
{% endblock %}	 