 {% extends 'fiteat/base.html'%}
{% load static %}

{% block container %}
<section class="product_detail">
  <h3>{% if category %}{{ category.name }}{% else %}Produkty{% endif %}</h3>
  <table>
    <tr>
        <th>Nazwa produktu</th>
        <th>Kategoria</th>
        <th> Waga</th>
        <th>Kalorie</th>
        <th>Białko</th>
        <th>Tłuszcze</th>
        <th>Węglowodany</th>
        {% if request.user.is_authenticated %}
          <th>Opcje</th>
        {% endif%}
        
        
    </tr>
      {% for product in products %}
        <tr>
          <td> {{product.name}}</td>
          <td> {{product.category.name}}</td>
          <td> {{product.weight}}</td>
          <td> {{product.calories}}</td>
          <td> {{product.protein}}</td>
          <td> {{product.fats}}</td>
          <td> {{product.carbon}}</td>
          {% if request.user.is_authenticated %}
          <td class="color"><a href = "{{product.get_absolute_url}}">Dodaj</a></td>
          {% endif%}
          
        </tr>
      {%endfor%} 
  </table>
  <a href="{%url 'fiteat:cat_list'%}"> Wróc do kategori</a>
</section> 
{% endblock %}


{% block js %}
<script src={% static "java_script/jquery-3.2.1.min.js" %}></script>
<script type="text/javascript" src={% static "java_script/script.js" %}></script>
<script type="text/javascript" src={% static "java_script/scriptadv.js" %}></script>
{% endblock %}	 