 {% extends 'fiteat/base.html'%}
{% load static %}

{% block container %}
<section class="all_forms">
<h2> Witaj {{new_user.first_name}}!</h2>
<h4> Twoje konto jest utworzone. Możesz sie teraz zalogować.</h4>
<a href = ""><input type = "buttom" value = "Zaloguj się"></a>
</section>  
{% endblock %}

{% block js %}
<script src={% static "java_script/jquery-3.2.1.min.js" %}></script>
<script type="text/javascript" src={% static "java_script/script.js" %}></script>
<script type="text/javascript" src={% static "java_script/scriptadv.js" %}></script>
{% endblock %}	 