{% extends 'fiteat/base.html'%}
{% load static %}
{% block container %}
<div class="entry_diary">
    <a href="{%url 'cart:cart_detail'%}">Dziennik produktów</a>
</div>
<div class="search_form1">
 <form method="get">
    {{ filter.form.as_p }}
    <button type="submit">Szukaj</button>
 </form>
</div>
<div class="product-detail">
    

        <table>
    <table>
         <tr>
            <th> Kategoria</th>
            <th>Nazwa produktu</th>
            <th> Waga</th>
            <th>Kalorie</th>
            <th>Białko</th>
            <th>Tłuszcze</th>
            <th>Węglowodany</th>
            <th> Opcje</th>
        </tr>
  `     {% for product in filter.qs %}
        <tr>
            <td>{{product.category.name}}</td>
            <td>{{product.name}}</td>
            <td>{{product.weight}}</td>
            <td>{{product.calories}}</td>
            <td>{{product.protein}}</td>
            <td>{{product.fats}}</td>
            <td>{{product.carbon}}</td>
            <td class="color"><a href = "{{product.get_absolute_url}}">Dodaj</a></td>
        </tr>
        {% endfor %}
    </table>
</div>  
{% endblock %}

{% block js %}
<script src={% static "java_script/jquery-3.2.1.min.js" %}></script>
<script type="text/javascript" src={% static "java_script/script.js" %}></script>
<script type="text/javascript" src={% static "java_script/scriptadv.js" %}></script>
{% endblock %}	 